.search-container {
    height: 70px;
}

.search-field-wrapper {
    width: 70%;
    height: 100%;
    background-color: #F0F0F0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.search-field-wrapper i {
    width: 5%;
    text-align: center;
}
.search-field-wrapper i::before {
    font-size: 20px;
}
.search-field-wrapper input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    width: 95%;
}

.city-field-wrapper {
    width: 20%;
    height: 100%;
    margin-left: 4px;
    background-color: #F0F0F0;
    font-size: 20px;
}
.search-field-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px 30px 5px 10px;
    border: none; /* Убираем рамку */
    background-color: transparent; /* Убираем фоновый цвет */
}

.search-btn {
    background-color: #22352f;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    height: 100%;
    font-size: 20px;
    color: #fff;
}


.category-list-wrapper {
    background-color: #F0F0F0;
    padding-left: 8%;
    padding-right: 8%;
}

.category-list--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
}
.category-list--item span {
    display: block;
    width: 150px;
    height: 150px;
    background-color: #d9d9d9;
    border-radius: 100%;
    margin-bottom: 15px;
}
.category-list--item p {
    font-size: 22px;
}

.ads-list-wrapper {
    display: flex;
    /*justify-content: space-between;*/
    gap: 1%;
    flex-wrap: wrap;
}
.ads-list--item {
    width: 24%;
    border-radius: 10px;
    overflow: hidden;
}
.ads-list--item .ads-list--image {
    display: block;
    height: 300px;
    background-color: #d9d9d9;
}

.ads-list--image img {
    display: block;
    width: 100%;
    height: 100%;
}

.ads-list--info {
    background-color: #F0F0F0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 18px;
}
.ads-list--info i {
    font-size: 25px;
}

.fav-btn {
    background-color: transparent;
    border: none;

}
