<div class="search-container px-5 my-3 mt-5 d-flex align-items-center">
    <div class="search-field-wrapper px-4 d-flex align-items-center">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Что ищете?" />
    </div>
    <div class="city-field-wrapper px-3 d-flex align-items-center gap-4">
        <label for="city" class="d-flex gap-2 align-items-center">
            <i class="fas fa-location-arrow"></i>
            Выберите город
        </label>
        <select id="city"></select>
    </div>
    <button class="search-btn d-flex gap-2 justify-content-center align-items-center">
        <span>Поиск</span>
        <i class="fa fa-search"></i>
    </button>
</div>
