@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('@angular/cdk/overlay-prebuilt.css');

* {
    font-family: "Manrope", sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

body {
    min-height: 100vh;
    background-color: #fff;
}
